# stack name
name = "hns-1035"
region = "us-east-1"

# common networking
vpc =  "vpc-0fxxxxxxxxxxxxx"

# ec2 instance
ec2_subnet = "subnet-yyyyyyyyy"
ami = "ami-0e35ddab05955cf57"

# alb
alb_subnets = ["subnet-yyyyyyyyy", "subnet-xxxxxxxx"]
alb_certificate_arn = "arn:aws:acm:ap-south-1:xxxxxxxxxxx:certificate/08bcd2b0-3e84-40fd-bf49-37ce43644068"

#harness
harness_cloud_connector_id = "myconn07"
alb_route53_dns_name = "as60.mynewdomain.com"
